.projects {
  margin-top: 40px;
  max-width: 485px;
}
.projects-title {
  color: #000000;
  margin-bottom: 10px;
}

.projects-list {
  padding: 0;
  list-style: none;
}

.projects-item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.projects-interface {
  order: 3;
  color: #595959;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.projects-text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #fb6d3a;
  order: 1;
  margin: 0;
}
.projects-link {
  text-decoration: none;
  color: #595959;
}
.projects-link:hover {
  color: #fb6d3a;
}
@media (max-width: 768px) {
  .projects {
    margin: 0;
  }
  .projects-title {
    margin-top: 10px;
  }
}
