.avatar {
  margin-top: 40px;
  margin-bottom: 50px;
  max-width: 370px;
  width: 100%;
}
.contacts {
  margin-left: 40px;
  margin-bottom: 40px;
}

.contacts-title {
  color: #ffffff;
  margin-bottom: 10px;
}

.contacts-type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 5px;
}

.contacts-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #7cb0ff;
  opacity: 0.5;
  text-decoration: none;
  cursor: pointer;
}
.contacts-link:hover {
  color: rgb(229, 228, 250);
}
@media (max-width: 768px) {
  .avatar {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .contacts {
    margin-left: 20px;
  }
}
@media print {
  .contacts-title,
  .contacts-type,
  .contacts-link {
    color: black;
    opacity: 1;
    font-size: 1.2rem;
  }
}
